[Unit]
Description=Share local port(s) with ngrok
After=syslog.target network.target

[Service]
ExecStart={{ ngrok_path_bin }} start --all --config /home/{{ ngrok_user }}/.ngrok2/ngrok.service.yml
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
Alias=ngrok.service
